.draftable-table {
  @include pad(0);
  li {
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom: 2px solid #999;
    padding: 8px;
  }
  .rank {
    display:inline;
    font-size:1.5em;
    width: 50px;
  }
  .name {
    display:inline;
    flex-grow:2;
    font-size:1.5em;
  }
  .pick {
    display:inline;
    float:right;
  }
  li.hilighted {
    background-color: lighten($red, 40%)
  }
  


}
