// Place all the styles related to the autodrafts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.current-autodrafts {
  .btn { padding: 5px; }
  .remove-button { padding-right: 15px; }
  .rank {padding-left: 15px; }
}
