// Place all the styles related to the draft controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.standard-width {
  @include media($desktop) {
    @include span-columns(6);
    @include shift(3);
  }
  @include media($mobile) {
    @include span-columns(12);
  }
}

.container {
  @include outer-container;
  margin-top:0px;
}

nav {
  background-color: #333;
  color: white;
  text-align:center;
  padding: 10px;
  font-size: 1.5em;
}
header {
  @extend .standard-width;
  text-align:center;
}
section {
  @extend .standard-width;
  @include pad(0 default);
}

.center-text { text-align:center; }
h1, h2, h3, h4, h5, h6 {margin:.75em 0;}
.spacer {padding-top:10px;}
  
