// Place all the styles related to the draft controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.standard-width {
  @include media($desktop) {
    @include span-columns(6);
    @include shift(3);
  }
  @include media($mobile) {
    @include span-columns(12);
  }
}

.container {
  @include outer-container;
}
header {
  @extend .standard-width;
  margin-top:40px;
  h1 {
    text-align:center;
  }
}
section {
  @extend .standard-width;
}

.spacer { margin-top: 10px; }
.center-text { text-align:center; }
  
